{# Delete action templae for AdminController #}
{% extends 'base.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}{{  'Delete URL'|trans }}{% endblock %}

{% block content %}
    <h1>
        {{ 'Delete URL'|trans }}
    </h1>
    <h2>{{ 'About to delete'|trans }} {{ app.url_generator.generate( 'redirect', {'short':short}, true ) }}</h2>
    <p>{{ 'Sure about that?'|trans }}</p>
    <form action="{{ url('admin_delete', {'id': id }) }}" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" value="{{ 'Delete'|trans }}" />
    </form>
{% endblock %}
