{% extends 'base.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}{{ 'Change user password'|trans }}{% endblock %}


{% block content %}
    <h1 class="h1">
        {{ 'Change user password'|trans }}
    </h1>
    {{ error }}
    <form action="{{ url('user_password', {'id':id}) }}" method="post">
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-default" name="submit" value="{{ 'Change'|trans }}" />
    </form>
{% endblock %}