{% extends 'base.twig' %}
{% block title %}{{  '404!' }}{% endblock %}

{%block content%}
<h1>ERROR 404!</h1>
    <h2>
        {{ "We couldn't find the page you're looking for."|trans }}
    </h2>
    <p>
        <a href="{{ url('index') }}" title="{{ 'Main Page'|trans }}">{{ 'Go back to the main page'|trans }}</a>
    </p>
{%endblock%}